<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Login Form Design | CodeLab</title>
    <link rel="stylesheet" href="/update_pass/asset/css/reset_pass.css">
</head>

<body>
    <div class="wrapper">
        <div class="title">
            Login Form
        </div>
        <form action="/update_pass/check_update_password" method="POST">
            <div class="field">
                <input type="password" name="Password" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="password" name="Confirm_password" required>
                <label>Password</label>
            </div>
            <div class="field">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>

</html>

<style>

</style>