<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Website</title>
    <link rel="stylesheet" href="/update_pass/asset/css/success_email.css">
</head>

<body>
    <div class="container">
        <h2>Reset password email sent</h2>
        <p>You should soon receive an email allowing you to reset your password. Please make sure to check your spam and trash if
        you can't find the email.</p>
        <a class="button" href="/login">Login</a>
    </div>
</body>

</html>